{% if include.is-cta-combo-field %}
<section class="cta-combo">
  <a class="cta-primary cta-combo__primary" href="{{include.cta-primary-link}}">{{include.cta-primary-label}}</a>
  <span class="cta-combo__secondary-wrap">or<a class="cta-link cta-combo__secondary" href="{{include.cta-secondary-link}}">{{include.cta-secondary-label}}</a>
  </span>
</section>

{% else %}

<a class="
  {% if page.single_cta.cta_primary%}cta-primary {% elsif page.single_cta.cta_secondary %}cta-secondary{% elsif page.single_cta.cta_text_link %}cta-link{% endif %}{%if page.single_cta.cta_inverse%}--inverse{% endif %}
"
href="{{page.single_cta.cta_link}}">
  {{page.single_cta.cta_label}}</a>
{% endif %}
