{% assign heading-bar-class = 'text-block__heading-bar--primary section-heading section-heading--large' %}
{% if page.hero_type == 'brand_hero'%}
  {% assign heading-bar-class= 'brand-heading brand-heading--hero text-block__heading-bar--brand' %}
{% endif %}


<section class="hero hero--ace {% if page.add_sidekick_ %}hero--with-sidekick{% endif %}">
  <div class="hero__inner">
    <div class="hero__content u-color-white">
      <section class="text-block text-block--large u-mb-small">
        <h1 class="{{heading-bar-class}} u-color-white">{{page.hero_section_heading[0].section_heading | remove: """" }}</h1>
        <p class="text-block__lead-paragraph">{{page.hero_lead_paragraph[0].lead_paragraph}}</p>
      </section>
      {% include cta.html %}
    </div>
  </div>
</section>

{% if page.add_sidekick_ %}
<section class="hero-sidekick hero-sidekick--no-overlap">
  <div class="hero-sidekick__content">
    <ul class="hero-sidekick__column-primary hero-sidekick__content-grid feature-list u-color-white">
      {% for list_item in page.list_item %}
        <li class="feature-list__item">{{ list_item }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

