{% assign heading-bar-class = 'text-block__heading-bar--primary section-heading section-heading--large' %}
{% if page.hero_type == 'brand_hero'%}
  {% assign heading-bar-class= 'brand-heading brand-heading--hero text-block__heading-bar--brand' %}
{% endif %}


<section class="hero {% if page.add_sidekick_ %}hero--with-sidekick{% endif %}">
  <div class="hero__inner">
    <div class="hero__content u-color-white">
      <section class="text-block text-block--large u-mb-small">
        <h1 class="{{heading-bar-class}} u-color-white">{{page.hero_section_heading}}</h1>
        <p class="text-block__lead-paragraph">{{page.hero_paragraph}}</p>
      </section>
      {% include cta.html %}
    </div>
  </div>
</section>

{% if page.add_sidekick_ %}
<section class="hero-sidekick">
  <ul class="feature-list">
    {% for list_item in page.list_item %}
      <li class="feature-list__item">{{ list_item }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}

