.hero {
  $variations: 'ace', 'ace-b', 'aztec', 'besame', 'bob', 'dave', 'electric', 'forth', 'koshland', 'larry', 'night', 'philosophie', 'red-sweater', 'viola', 'winter-lake';
  @each $variation in $variations {
    &--#{$variation} {
      @include hero-customisation('/img/hero-#{$variation}-');
      // @include hero-customisation('/img/hero/#{$variation}');
    }
  }
}


.hero-sidekick {
  @include hero-sidekick-customisation(get-color(purple, contrast), get-color(white));
}


.hero--dmlp {
  position: relative;

  padding-bottom: 3rem;
}


.industries-hero {
  padding-top: 4.625rem;
  padding-bottom: 3rem;
}
